/Movie/.idea
/Movie/Movie.API/bin
/Movie/Movie.API/obj
/Movie/Movie.API/.idea
/Movie/Movie.Database/bin
/Movie/Movie.Database/obj
/Movie/Movie.Seeder/obj
/Movie/Movie.Seeder/bin
/Movie/Movie.sln.DotSettings.user
